.messenger {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.chatMenuInput {
  width: 90%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid gray;
}

.chatBox {
  width: 60%;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 90vh;
}

.chatMenuWrapper > div {
  height: 50vh; 
  overflow-y: scroll;
  padding: 2rem;
}

.noConvo {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 224, 224);
}

.conversationImg {
  width: 4rem;
  border-radius: 50%;
}

.conversation {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.conversation.active {
  background-color: #1877f2;
  border: none;
  border-radius: 2rem;
  color: white;
}

@media (max-width: 768px) {
  .conversation > span {
    display: none;
  }
}

.conversation:hover {
  border: 1px solid rgb(141, 141, 141);
  cursor: pointer;
  border-radius: 2rem;
}

.message {
  width: 80%;
}

.info {
  border: 1px solid gray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
  .info {
    border-radius: 0;
  }
}

.editBtn {
  margin: 3rem 7rem;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
}

.profileIndex {
  margin: 4rem auto;
}